div{
    font-family:"Montserrat", sans-serif;
}

.outer{
    height: 100vh;
    background: linear-gradient(to top, #b1e9eb 50%, rgb(106, 166, 223) 90%) no-repeat;
}

.panel-heading{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 12px;
}

#forget{
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
    
}

a:hover{
    text-decoration: none;
}

.form-inline{
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}

.btn{
    margin-top: 20px;
    border-radius: 15px;
}

.panel {
    width: 380px;
    height: 470px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px;
    margin-top: 100px;
    margin-left: 35%;
}
.input-field{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #0c9ba0
}

.input-field.error{
    border: 1px solid #ff4b4b;
    color: #ff4b4b
}

input[type='text'],
input[type='password']{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.icon-eye.btn{
    border: none;
    outline: none;
    box-shadow: none;
}

img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.icon-eye:hover{
    color: rgb(255, 0, 0);
    
}

.bordert{
    border-top: 1px solid #aaa;
    position: relative;
}

.bordert::after{
    content: "ou conecte-se com:";
    position: absolute;
    top: -13px;
    left:25%;
    background-color: #fff;
    padding: 0 8px ;
}

