<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md2 .col-lg-5 .col-md-7.offset-lg-4 .offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight" id="img-logo">Login</h3>   
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['Email'].dirty && loginForm.hasError('required','Email')">
                                    <mat-icon>person</mat-icon>
                                    <input formControlName="email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['Email'].dirty && loginForm.hasError('required','Email')" class="text-danger"></small>
                             <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['senha'].dirty && loginForm.hasError('required','senha')">
                                    <mat-icon>lock</mat-icon>
                                    <input formControlName="senha" [type]="type" placeholder="Senha">
                                    <span (click)="hideShowPass()"><mat-icon class="{{eyeIcon}}" >remove_red_eye</mat-icon>
                                    </span>
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['senha'].dirty && loginForm.hasError('required','senha')" class="text-danger"></small>
                            <div class="form-inline fr mt-4">
                                <a id="forget" class="font-weight-bold">Esqueceu a senha? </a>
                            </div>
                            <button (click)="onLogin()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
                            <div class="text-center pt-4 text-muted">Primeiro acesso? <a id="forget" routerLink="/signup">Cadastre-se</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>