<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md2 .col-lg-5 .col-md-7.offset-lg-4 .offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight" id="img-logo">Sign Up</h3>   
                    </div>
                    <div class="panel-body p-3">
                        <form>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <mat-icon>person</mat-icon>
                                    <input type="text" placeholder="Usuario">
                                </div>
                            </div>
                             <div class="form-group pt-3">
                                <div class="input-field">
                                    <mat-icon>lock</mat-icon>
                                    <input [type]="type" placeholder="Senha">
                                    <span (click)="hideShowPass()"><mat-icon class="{{eyeIcon}}" >remove_red_eye</mat-icon>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <mat-icon>person</mat-icon>
                                    <input type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <mat-icon>person</mat-icon>
                                    <input type="text" maxlength="11" placeholder="CPF">
                                </div>
                            </div>
                            
                            
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Já tem uma conta? <a id="forget" routerLink="/login">Login</a></div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>